/* Projetos */
.projetos__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.projetos__itens_h2 {
    color: aliceblue;
}

#mobifin {
    width: 100%;
}